@import 'src/Index.scss';

.formGroup {
  width: 25%;
}

.label {
  font-size: $label-font-size;
  color: $label-color;
  margin-right: $label-margin-right;
}

.input {
  margin: $input-margin;
  width: $input-width;
  height: $input-height;
  padding: $input-padding;
  font-size: $input-font-size;
  font-family: $input-font-family;
  border: $input-border;
}

.input:focus {
  outline: none;
  border: $input-border-focus;
}

@media (max-width: 1130px) {
  .formGroup {
    width: 50%;
  }
  .formGroup:first-child {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .formGroup {
    width: 100%;
  }
}