@import 'src/Index.scss';

.filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 100px;
  background-color: $color-primary;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}

@media (max-width: 1130px) {
  .filters {
    flex-wrap: wrap;
    padding: 20px 50px;
  }
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
  }
}