@import "../../../index.scss";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.row {
  display: flex;
  width: 100%;
}

.book {
  background-image: url("../../../resources/rooms/1.jpg");
  display: flex;
}

.leftSide {
  width: 60%;
  background-color: $color-secondary;
  padding: 100px 5%;
}

.titleLeft {
  color: $color-white;
  font-size: 60px;
  font-family: Montserrat Regular;
  padding-bottom: 50px;
}

.rightSide {
  width: 40%;
  margin: 50px 5%;
  padding: 30px;
  background-color: $color-white;
}

.hotelPlan {
  width: 100%;
  // height: 1110px;
  height: 50vw;
}

.divs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.planRoom {
  position: absolute;
  background-color: rgba($color-secondary, 0.8);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  font-size: 28px;
  font-family: Montserrat Regular;
  padding: 20px;
  text-align: center;
}

.disabled {
  background-color: $color-primary;
  color: $color-text;
  cursor: not-allowed;
}

.one {
  top: 27.5%;
  left: 0;
  width: 17.5%;
  height: 11.5%;
}

.two {
  top: 39%;
  left: 0;
  width: 17.5%;
  height: 12%;
}

.three {
  top: 51%;
  left: 0;
  width: 17.5%;
  height: 17.4%;
}

.four {
  top: 68.5%;
  left: 0;
  width: 17.5%;
  height: 31%;
}

.five {
  top: 21.5%;
  left: 80%;
  width: 10%;
  height: 31.4%;
}

.six {
  top: 21.5%;
  left: 90%;
  width: 9.8%;
  height: 31.4%;
}

@media (max-width: 1300px) {
  .leftSide {
    display: none;
  }

  .rightSide {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    overflow-x: scroll;
  }

  .hotelPlan {
    width: 768px;
    height: 100%;
    overflow: scroll;
  }

  .planRoom {
    font-size: 14px;
  }

  .one {
    top: 27.5%;
    left: 0;
    width: 135px;
    height: 11.5%;
  }

  .two {
    top: 39%;
    left: 0;
    width: 135px;
    height: 12%;
  }

  .three {
    top: 51%;
    left: 0;
    width: 135px;
    height: 17.4%;
  }

  .four {
    top: 68.5%;
    left: 0;
    width: 135px;
    height: 31%;
  }

  .five {
    top: 21.5%;
    left: 615px;
    width: 75px;
    height: 31.4%;
  }

  .six {
    top: 21.5%;
    left: 690px;
    width: 75px;
    height: 31.4%;
  }
}

@media (max-width: 615px) {
  .book {
    background: transparent;
  }

  .rightSide {
    margin: 0;
    padding: 30px;
  }
}
