@import 'fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato Regular, sans-serif, system-ui;
}

$color-primary: #bda785;
$color-secondary: #1a4531;
$color-text: #383838;
$color-background: #faf7f1;
$color-white: #fff;
$color-black: #000;
$color-7a: #7a7a7a;
$color-active: #4b9200;
$color-back: #efeee8;
$color-gray-smoky: #ababab;
$color-gray-light: #f1f3f2;
$color-hover: #e47209;
$color-header-hover-background: #909090;
$color-disabled: #ccc;
$color-error: red;
$color-overlay: rgba(0,0,0, 0.5);
$color-light-opacity70: rgba(255,255,255, 0.7);


body {
  overflow: overlay;
}

body.notScrollable {
  overflow: hidden;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba($color: #484848, $alpha: .5);

  &:hover {
    background: rgba($color: #484848, $alpha: .85);
  }
}

ul {
  list-style: none;
}

a {
  color: $color-back;
  text-decoration: none;
}