@import '../../../Index.scss';

.addRoomModal {
  display: flex;
  flex-direction: column;
  gap: $normal-gap;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-primary;
  padding: 20px;
  border-radius: $high-border-radius;
  max-height: 95vh;
  overflow-y: scroll;
  z-index: $max-z-index;

  &::-webkit-scrollbar{
    width: 0;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: $high-gap;
}