@import '../../../Index.scss';

.addRoomModal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-primary;
  z-index: 10;
  padding: 20px;
  border-radius: 10px;
  max-height: 95vh;
  overflow-y: scroll;
  z-index: 1000;

  &::-webkit-scrollbar{
    width: 0;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 20px;
}