@import '../../../index.scss';

.addRoomModal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-primary;
  z-index: 10;
  padding: 20px;
  border-radius: 10px;
  max-height: 95vh;
  overflow-y: scroll;
  z-index: 1000;

  label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    cursor: pointer;
  }

  input,
  textarea,
  select {
    border:none;
    outline: none;
  }

  input[type=number] {
      padding: 2px 5px;
      font-size: 1rem;
      width: 80px;
  }
}