@import "../../../../index.scss";

.wrap {
  background-color: $color-background;
  padding: 100px 10%;
  position: relative;
}

.backImageWrap {
  position: relative;
  width: 75%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.backImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s linear;
}

.backImageWrap:hover .backImage {
  transform: scale(1.1);
}

.roomAbout {
  position: absolute;
  top: 150px;
  right: 10%;
  width: 30%;
  z-index: 5;
  padding: 50px;
  background-color: $color-white;
}

.titleBook {
  color: $color-text;
  font-size: 40px;
  font-family: Montserrat Regular;
  padding-bottom: 30px;
  padding-top: 30px;
}

.list {
  padding: 0 30px;
}

.text {
  padding-top: 10px;
}

@keyframes slidein {
  from {
    margin-left: 0;
  }

  to {
    margin-left: 85%;
  }
}

.wrap:nth-child(odd) .backImageWrap {
  margin-left: 25%;
} 

.wrap:nth-child(odd) .roomAbout {
  left: 10%;
}

.settingsRoom {
  font-size: 18px;
  color: $color-text;
  padding-bottom: 30px;
}

.sub {
  vertical-align: text-top;
  font-size: 12px;
}

.description {
  color: $color-text;
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 30px;
}

.roomLink {
  display: block;
  text-decoration: none;
  font-family: Montserrat Regular;
  font-size: 18px;
  color: $color-white;
  padding: 20px 30px;
  border: 1px solid $color-secondary;
  background-color: $color-secondary;
  width: 100%;
  transition: all 0.6s linear;
  font-weight: bold;
  margin-top: 20px;
}

.roomLink:hover {
  background-color: $color-primary;
  color: $color-text;
  border: 1px solid $color-primary;
}

.roomLink:hover .linkText {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    margin-left: 0;
  }

  to {
    margin-left: 60%;
  }
}

.span {
  position: relative;
  margin-left: 80px;
  font-size: 18px;
  color: $color-text;
  font-family: Montserrat Regular;
}

.span:before {
  display: block;
  width: 70px;
  content: '';
  position: absolute;
  border-bottom: 1px solid $color-primary;
  top: 50%;
}

@media (max-width: 768px) {
  .roomAbout {
    width: 50%;
    padding: 30px;
  }

  .titleBook {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .settingsRoom {
    padding-bottom: 20px;
  }

  .description {
    padding-bottom: 10px;
  }
}

@media (max-width: 615px) {
  .wrap {
    padding: 50px 10%;
  }
  
  .backImageWrap {
    width: 100%;
  }

  .wrap:nth-child(odd) .backImageWrap {
    margin-left: 0;
  } 
  
  .roomAbout {
    position: static;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    padding: 20px 30px;
  }

  .titleBook {
    font-size: 32px;
  }

  .roomLink {
    margin-top: 10px;
    height: 40px;
    padding: 10px 30px;
  }
}
