@import "src/Index.scss";

.languages {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 5vw;
  border: 1px solid $color-white;
  transition: background 0.3s;

  &:hover {
    background-color: $color-secondary;
    cursor: pointer;
  }
}

.languagesScroll {
  border: 1px solid $color-text;

  &:hover {
    background-color: $color-primary;
  }
}

.langAdditional {
  position: absolute;
  top: 100%;
  background-color: $color-white;
  color: $color-text;
  width: 100%;

  li {
    padding: 6px;
    border-bottom: 1px solid $color-disabled;
    &:hover {
      background-color: $color-background;
    }
  }
}

.disabled {
  pointer-events: none;
  background-color: $color-disabled;
  color: $color-text-disabled;
}


@media (max-width: 800px) {
  .languages {
    width: 10vw;
    border-right: none;
  }

  .languagesScroll {
    width: 10vh;
  }
}