@import '../../index.scss';

.logOut {
  margin-top: 100px;
}

.btn {
  font-size: 1.1rem;
  background-color: $color-white;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  transition: all .2s linear;

  &:hover {
    background-color: $color-hover;
    color: $color-white;
  }

  &:active {
    background-color: $color-active;
    color: $color-white;
  }
}