@import '../../../../index.scss';

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: $color-gray-light;
  background-color: rgba($color: #000000, $alpha: 0.5);
  padding: 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.services {
  width: 100%;
  display: flex;
  list-style: circle;
  flex-direction: column;
  gap: 5px;
  align-self: flex-start;

  li {
    margin-left: 20px;
  }
}