@import '../../index.scss';

.swiper {
  user-select: none;

  .image {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.number {
  position: absolute;
  left: 5%;
  right: 0;
  bottom: 10%;
  color: $color-white;
  font-size: 60px;
}

.span {
  position: relative;
  font-family: Montserrat Regular;
}

.span:after {
  display: block;
  width: 100vw;
  content: '';
  position: absolute;
  border-bottom: 1px solid $color-white;
  top:50%;
  left: 110px; 
}

@media (max-width: 768px) {
  .swiper {
  
    .image {
      height: auto;
    }
  }
}