@import '../../index.scss';

.stub {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba($color: $color-secondary, $alpha: 1);
  animation: visibility 1s ease 1;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.title {
  display: flex;
  height: 80%;
  font-size: 80px;
  font-family: Montserrat Regular;
  color: $color-primary;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 150px;
  height: 150px;
  animation: visibility 1s ease 1;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
}

.loading {
  display: flex;
  justify-content: center;
  animation: visibility 1s ease 1;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

.loading::after {
  content: "";
  position: absolute;
  z-index: 500;
  top: calc(50% - 25px);
  left:  calc(50% - 25px);
  width: 50px;
  height: 50px;
  border: 10px solid $color-background;
  border-top-color: $color-primary;
  border-radius: 50%;
  animation: loading 1s ease 5;
  animation-fill-mode: forwards;
}

@keyframes loading {
  to {
      transform: rotate(1turn);
  }
}

@keyframes visibility {
  to {
      height: 0;
      opacity: 0;
  }
}

@media (max-width: 615px) {
  .title {
    font-size: 60px;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 40px;
  }
}