.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  
  .label {
    font-weight: 400;
  }
}

.title {
  font-weight: 600;
  margin-bottom: 5px;
}

.service {
  display: flex;
  align-items: baseline;
  gap: 10px;
}