.service {
  display: flex;
  align-items: baseline;
  gap: 10px;

  .label {
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;

    .serviceName {
      padding-left: 10px;
    }
  }
}