@import "../../../../index.scss";

.navigation {
  position: sticky;
  top: 50px;
  z-index: 100;
  background: $color-primary;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: $color-primary;
  align-items: center;
  justify-content: space-evenly;
}

.line {
  color: $color-text;
}

.listItem {
  color: $color-text;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-primary;
  cursor: pointer;
}

.link {
  text-decoration: none;
  text-align: center;
  color: $color-text;
  padding: 10px 30px;
  transition: all 0.6s linear;
}

.link:active {
  color: $color-white;
}

@media (max-width: 615px) {
  .link {
    padding: 10px;
  }
}