@import "src/Index.scss";

.wrapper {
  position: relative;
  max-width: 1980px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-background;

  .main {
    position: relative;
    background-color: $color-white;
    z-index: 1;
  }
}
