openapi: 3.0.0
info:
  title: Golden Fleece API
  version: 1.0.0
  description: A simple REST API for providing basic CRUD-access to the employees
    in a Golden Fleece database.
servers:
  - url: http://localhost:3600
    description: gf-server-api
schemes:
  - http
  - https
apis:
  - ./src/routes/*.ts
paths:
  /api/rooms:
    get:
      tags:
        - Rooms
      summary: Get list of rooms
      description: Retrieve a list of all rooms
      responses:
        "200":
          description: A list of rooms.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#components/schema/Room"
    post:
      tags:
        - Rooms
      summary: Add new room
      description: Add new room
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              $ref: "#components/schema/Room"
      responses:
        "200":
          description: New room.
          content:
            application/json:
              schema:
                type: object
                $ref: "#components/schema/Room"
  "/api/rooms/{room_id}":
    get:
      tags:
        - Room
      summary: Get room by ID
      description: Retrieve a room by ID
      parameters:
        - name: room_id
          in: path
          required: true
          description: room ID
          schema:
            type: string
          example: 0
      responses:
        "200":
          description: Room.
          content:
            application/json:
              schema:
                type: object
                $ref: "#components/schema/Room"
    put:
      tags:
        - Room
      summary: Update room information by ID
      description: Update room by ID
      parameters:
        - name: room_id
          in: path
          required: true
          description: room ID
          schema:
            type: string
          example: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              $ref: "#components/schema/Room"
      responses:
        "200":
          description: Room.
          content:
            application/json:
              schema:
                type: object
                $ref: "#components/schema/Room"
    delete:
      tags:
        - Room
      summary: Delete room by ID
      description: Delete a room by ID
      parameters:
        - name: room_id
          in: path
          required: true
          description: room ID
          schema:
            type: string
          example: 0
      responses:
        "200":
          description: Successful room delete.
          content:
            application/json: {}
components:
  schema:
    Room:
      type: object
      properties:
        apartmentsType:
          type: string
          enum:
            - Single
            - Double
            - Twin
          description: The room's type.
          example: Single
        services:
          type: string
          enum:
            - WiFi
            - Laundry
            - TeaCoffeeMaker
            - Heating
            - AirportShuttle
          description: The room's services.
          example: WiFi, TeaCoffeeMaker
        id:
          type: string
          description: The room's ID.
          example: 0
        description:
          type: string
          description: Short room's description.
          example: A small room
        descriptionLong:
          type: string
          description: The room's description.
          example: Dressed in soothing natural colour palettes with designs inspired by
            the natural landscape, our garden view suites are a warm and
            relaxing oasis overlooking the Grand Forest Metsovo garden and
            surrounding pine forest.
        price:
          type: number
          description: The room's price.
          example: 300
        promo:
          type: string
          description: The room's promo image URL.
          example: https://uploads-ssl.webflow.com/5e38379f9141a20d42ea7ab3/618177a1165e33f6ca935321_506.jpg
        slider:
          type: array
          items: type:string
          example:
            - https://uploads-ssl.webflow.com/5e38379f9141a20d42ea7ab3/618177a1165e33f6ca935321_506.jpg
            - https://uploads-ssl.webflow.com/5e38379f9141a20d42ea7ab3/618177a1165e33f6ca935321_506.jpg
            - https://uploads-ssl.webflow.com/5e38379f9141a20d42ea7ab3/618177a1165e33f6ca935321_506.jpg
            - https://uploads-ssl.webflow.com/5e38379f9141a20d42ea7ab3/618177a1165e33f6ca935321_506.jpg
            - https://uploads-ssl.webflow.com/5e38379f9141a20d42ea7ab3/618177a1165e33f6ca935321_506.jpg
          description: The rooms slider images URL.
        rating:
          type: number
          description: The room's rating.
          example: 10
tags: []
