@import '../../index.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  padding: 100px 0;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.title {
  padding: 100px 10%;
  text-align: center;
  font-family: montserrat Regular;
  color: $color-text;
  font-size: 40px;
}

@media (max-width: 615px) {
  .title {
    padding: 50px 10%;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 30px;
  }
}