$label-field-width: 300px;
$small-title-weigth: 600;
$small-title-margin-bottom: 5px;
$cursor-hover: pointer;
$input-text-size: 1rem;
$input-padding: 2px 10px;
$textarea-heigth: 100px;
$checkbox-gap: 5px;
$checkbox-margin-right: 5px;