@import '../../../index.scss';

.room {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: $color-background;

  label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    cursor: pointer;
  }
}

.title {
  align-self: center;
  margin-bottom: 10px;
}