.content {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% * 1.5);
  height: calc(100% * 3);
  background-image: url('../../../resources/map/golden-fleece-map.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: grab;
  z-index: 1000;
}