@import '../../../Index.scss';

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3000px;
  height: 1321px;
  background-image: url('../../../resources/map/golden-fleece-map.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: grab;
  z-index: 1000;
  transform: translateX(-25%);
}

.zoom {
  position: absolute;
  right: 325px;
  bottom: 40px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 1.2rem;
  user-select: none;

  .zoom_button {
    background-color: $color-secondary;
    width: 25px;
    height: 25px;
    color: $color-white;
    cursor: pointer;
  }
}
