@import '../../../index.scss';

.wrapper {
  max-height: 100vh;
  width:100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

.promo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  padding: 50px 0;
  background-color: rgba($color-white, 0.8);
  overflow-y: scroll;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-text;
  font-size: 48px;
  font-family: Montserrat Regular;
  padding: 0 30px 50px;
}

.description {
  color: $color-text;
  font-size: 24px;
  letter-spacing: 1px;
  padding: 0 30px 50px;
}

.textLeft {
  color: $color-text;
  font-size: 18px;
  font-family: Montserrat Regular;
  margin-bottom: 30px;
  overflow-y: scroll;
}

.span {
  position: relative;
  margin-left: 70px;
  font-family: Montserrat Regular;
}

.span:before {
  display: block;
  width: 50px;
  content: '';
  position: absolute;
  border-bottom: 1px solid $color-text;
  top: 50%;
  margin-left: 0;
}

.about::-webkit-scrollbar-thumb {
  background-color: $color-primary;
}

.about::-webkit-scrollbar-thumb:hover {
  background-color: $color-secondary;
}

.about::-webkit-scrollbar-track {
  background-color: $color-background;
}

@media (max-width: 768px) {
  .promo {
    margin-top: -10px;
  }

  .title {
    font-size: 32px;
    padding: 0 30px 20px;
  }

  .description {
    padding: 0 30px 30px;
    font-size: 18px;
  }
}

@media (max-width: 615px) {
  .about {
    width: 80%;
    left: 10%;
  }
  
  .title {
    font-size: 24px;
    padding: 0 30px 20px;
  }

  .description {
    padding: 0 30px 30px;
    font-size: 18px;
  }
}