PORT=3001
REACT_APP_FIREBASE_API_KEY = AIzaSyCu4kCXrzUXmH7hK3BJo51T9lIx5QXM7pA
REACT_APP_FIREBASE_AUTH_DOMAIN = auth-8493d.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID = auth-8493d
REACT_APP_FIREBASE_STORAGE_BUCKET = auth-8493d.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID = 27509085498
REACT_APP_FIREBASE_APP_ID = 1:27509085498:web:6ba4b7dbf1f821c0a62c03
MEASUREMENT_ID = G-VDBV9FJ3X4