@import '../../Index';

.sideMenu {
  width: 200px;
  min-height: 100%;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
  
  label {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    font-weight: 600;
    margin-bottom: 5px;
    cursor: pointer;
  }

  input,
  textarea {
    font-size: 1rem;
    padding: 2px 10px;
  }

  h4 {
    margin-bottom: 5px;
  }

  textarea {
    min-width: 300px;
    min-height: 100px;
  }
}

.mainLink{
  font-size: 1.2rem;

  &:hover {
    color: $color-hover;
    transition: all .2s linear;
  }
}