@import '../../index';

.sideMenu {
  width: 150px;
  height: 100vh;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}