@import '../../index';

.sideMenu {
  width: 200px;
  min-height: 100%;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.mainLink{
  font-size: 1.2rem;

  &:hover {
    color: $color-hover;
    transition: all .2s linear;
  }
}