@import '../../../index.scss';

.about {
  text-align: center;
  padding: 100px 15%;
  background-color: $color-white;
  color: $color-text;
  font-size: 35px;
}

.book {
  background-image: url("../../../resources/rooms/1.jpg");
  display: flex;
}

.leftSide {
  width: 60%;
  background-color: $color-secondary;
  padding: 100px 5%;
}

.titleLeft {
  color: $color-white;
  font-size: 68px;
  font-family: Montserrat Regular;
  padding-bottom: 50px;
}

.textLeft {
  color: $color-white;
  font-size: 18px;
  font-family: Montserrat Regular;
  margin-bottom: 50px;
}

.span {
  position: relative;
  font-family: Montserrat Regular;
}

.span:before {
  display: block;
  width: 150px;
  content: '';
  position: absolute;
  border-bottom: 1px solid $color-white;
  top:50%;
  left: -170px;
}

.spanLink {
  color: $color-text;
  font-size: 18px;
  text-decoration: none;
  padding: 20px;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  transition: all 0.6s linear;
  cursor: pointer;
}

.spanLink:hover {
  background-color: $color-secondary;
  color: $color-primary;
  transition: all 0.6s linear;
}

.rightSide {
  width: 40%;
  margin: 100px 5%;
  padding: 50px;
  background-color: $color-white;
}

.titleBook {
  color: $color-text;
  font-size: 40px;
  font-family: Montserrat Regular;
  padding-bottom: 50px;
}

.list {
  padding: 0 30px;
}

.listItem {
  list-style-type: square;
  font-size: 24px;
  font-family: Montserrat Regular;
  color: $color-text;
  padding-bottom: 30px;
}

.text {
  padding-top: 10px;
}

.bookLink {
  display: block;
  text-decoration: none;
  font-family: Montserrat Regular;
  font-size: 20px;
  color: $color-white;
  padding: 20px 30px;
  border: 1px solid $color-secondary;
  background-color: $color-secondary;
  width: 100%;
  transition: all 0.6s linear;
  font-weight: bold;
  margin-top: 20px;
}

.bookLink:hover {
  background-color: $color-primary;
  color: $color-text;
  border: 1px solid $color-primary;
}

.bookLink:hover .linkText {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    margin-left: 0;
  }

  to {
    margin-left: 85%;
  }
}


@media (max-width: 615px) {
  .about {
    padding: 50px 10%;
    font-size: 30px;
  }
}