.label {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  font-weight: 600;
  margin-bottom: 5px;
  cursor: pointer;
}

.input,
.textarea {
  font-size: 1rem;
  padding: 2px 10px;
}

.textarea {
  min-width: 300px;
  min-height: 100px;
}