@import 'fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato Regular, sans-serif, system-ui;
}

$color-white: #fff;
$color-black: #000;
$color-7a: #7a7a7a;
$color-active: #4b9200;
$color-back: #efeee8;
$color-gray-smoky: #ababab;
$color-gray-light: #f1f3f2;
$color-hover: #e47209;



body {
  overflow: overlay;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba($color: #484848, $alpha: .5);

  &:hover {
    background: rgba($color: #484848, $alpha: .85);
  }
}