@import 'Fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato Regular, sans-serif, system-ui;
}

html {
  scroll-behavior: smooth;
}

// colors
$color-primary: #bda785;
$color-secondary: #1a4531;
$color-text: #383838;
$color-background: #faf7f1;
$color-white: #fff;
$color-black: #000;
$color-7a: #7a7a7a;
$color-active: #4b9200;
$color-back: #efeee8;
$color-gray-smoky: #ababab;
$color-gray-light: #f1f3f2;
$color-hover: #e47209;
$color-header-hover-background: #909090;
$color-disabled: #ccc;
$color-text-disabled: rgba(0, 0, 0, 0.5);


body {
  overflow: overlay;
}

body.notScrollable {
  overflow: hidden;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $color-primary;

  &:hover {
    background: $color-secondary;
  }
}

ul {
  list-style: none;
}

//label styles
$label-font-size: 24px;
$label-color: $color-text;
$label-margin-right: 30px;

// input styles
$input-margin: 10px 0 20px;
$input-width: 100%;
$input-height: 50px;
$input-padding: 10px;
$input-font-size: 18px;
$input-font-family: Montserrat Regular;
$input-border: 2px solid $color-primary;
$input-border-focus: 2px solid $color-secondary;

//label styles
$label-font-size: 24px;
$label-color: $color-text;
$label-margin-right: 30px;

// input styles
$input-margin: 10px 0 20px;
$input-width: 100%;
$input-height: 50px;
$input-padding: 10px;
$input-font-size: 18px;
$input-font-family: Montserrat Regular;
$input-border: 2px solid $color-primary;
$input-border-focus: 2px solid $color-secondary;

$title-font-family: Montserrat Regular;

//h1 titles styles
@mixin h1 {
  font-size: 60px;
  font-family: $title-font-family;
}

@mixin h1-promo {
  @include h1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

//room h2 titles styles
$room-h2-font-size: 40px;

@mixin room-h2 {
  font-family: $title-font-family;
  font-size: $room-h2-font-size;
}

//room h3 titles styles
$font-family: $title-font-family;
$room-h3-position: absolute;
$room-h3-top: 5%;
$room-h3-left: 5%;
$room-h3-font-size: 32px;