@import 'fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato Regular, sans-serif, system-ui;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-7a: #7a7a7a;
  --color-active: #4b9200;
  --color-back: #efeee8;
  --color-gray-smoky: #ababab;
  --color-gray-light: #f1f3f2;
  --color-hover: #e47209;
}