@import '../../../index.scss';

.wrapper {
  max-height: 100vh;
  width:100%;
  height: auto;
  overflow: hidden;
  position: relative;
  background: black;
  object-fit: cover;
}

.promo {
  margin-top: -170px;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: $color-white;
  font-size: 60px;
  font-family: Montserrat Regular;
}

@media (max-width: 768px) {
  .promo {
    margin-top: -10px;
  }

  .title {
    font-size: 40px;
  }
}
